.DebtReminderList {
    padding: 20px 0 0 0;
    .selectBox {
      margin: 10px 10px;
      display: flex;
      .showmore {
        position: relative;
        margin-left: auto;
        cursor: pointer;
        .showmoreList {
          position: absolute;
          display: none;
          background-color: #fff;
          border-radius: 10px;
          padding: 10px;
          width: 160px;
          .list__ant {
            border: none;
          }
          .ant-list-item {
            cursor: pointer;
            &:hover {
              background-color: #f0f0f0b3;
            }
          }
        }
  
        &:hover {
          .showmoreList {
            display: block;
          }
        }
      }
    }

    &__group {
      margin-top: 20px;
      padding: 0 40px;
  
      .select-box {
        margin-left: 20px;
      }
      .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  
    &__item {
      display: flex;
      padding: 10px 0;
      margin-bottom: 10px;
      border-bottom: 0.5px solid #ffffffb3;
      .content {
        text-align: initial;
        h4 {
          margin: 0;
          font-size: 15px;
        }
        .cardnumber {
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
        }
        .note {
          color: #ffffffb3;
          font-size: 13px;
        }
      }
      .status {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        & > button {
          color: #fc3d03;
        }
        & p {
          color: #5fb621;
        }
      }
      .showmore {
        position: relative;
        margin-left: auto;
        cursor: pointer;
        .showmoreList {
          position: absolute;
          display: none;
          background-color: #fff;
          border-radius: 10px;
          padding: 10px;
          width: 160px;
          .list__ant {
            border: none;
          }
          .ant-list-item {
            cursor: pointer;
            &:hover {
              background-color: #f0f0f0b3;
            }
          }
        }
  
        &:hover {
          .showmoreList {
            display: block;
          }
        }
      }
      .no-box {
        width: 30px;
        height: 30px;
        background: linear-gradient(120deg, #5fb621, #007c30);
        border-radius: 50%;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
      }
    }
  
    &__add {
      .footer {
        display: flex;
        justify-content: flex-end;
  
        .btn__cancel {
          margin-right: 10px;
          // .buttonCustom {
          //   background: transparent !important;
          //   color: #007c30;
          //   border: #007c30;
          // }
        }
      }
    }
  }
  