.transferHistory {
  margin: 0 190px;
  padding: 30px;

  .title {
    color: #fff;
    text-align: initial;
  }

  .timegroup {
    // display: flex;
    background-color: rgba(44, 64, 68, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
    .label {
      color: #fff;
      font-size: 15px;
      text-align: initial;
      margin-top: 10px;
    }
    .select-box {
      .ant-select-selector {
        height: 100%;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        .ant-select-selection-item {
          font-weight: 400;
          font-size: 16px;
          color: #72bf00;
        }
      }
    }
  }

  &__list {
    color: #fff;
    background-color: rgba(44, 64, 68, 0.7);
    padding: 15px 0;
    border-radius: 10px;
    margin-top: 30px;
    .header {
      padding-bottom: 15px;
      border-bottom: 1px solid #c2c2c29c;
      font-size: 15px;
    }
  }

  &__item {
    margin: 0 30px;
    padding: 15px 0;
    border-bottom: 1px solid #c2c2c29c;
    &:last-child{
        border: none;
    }
    .txt-sub {
      color: #ffffffb3;
      font-weight: 400;
        &-left{
            text-align: left;
        }
        &-right
        {
            text-align: right;
        }
    }
    .info-tranfer{
        font-weight: 500;
    }

    .transfer-plus{
        color: #72bf00;
    }
  }
}
